

#title, #desc,#editeur,#dev,#pf,#kind,#number{
  color: rgba(33, 33, 33, 0.8);
}
#title, #desc,#editeur,#dev,#pf,#kind,#number,#file,#submit{
    font-size: 130%;
}

label, h1{
    color: rgb(33, 33, 33);
}

#submit_1{
    background-color: rgba(33, 33, 33, 0.8);
    top: auto;
}
input::placeholder{
  color: rgba(33, 33, 33, 0.6);
}
